$breakpoint-one: 371px;
$breakpoint-two: 427px;
$breakpoint-three: 639px;
$breakpoint-four: 1025px;

$base-bg-color: rgb(180, 193, 241);
$base-color: rgb(119, 119, 119);
$base-font: 16px 'Arial', sans-serif;
$base-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);

$white-color: rgb(255, 255, 255);
$grey-color: rgb(151, 151, 151);
$dark-grey-color: rgb(70, 70, 70);

$border-color: rgb(220, 220, 220);

$settings-color-one: rgb(255, 138, 128);
$settings-color-two: rgb(255, 209, 128);
$settings-color-three: rgb(255, 255, 141);
$settings-color-four: rgb(207, 216, 220);
$settings-color-five: rgb(128, 216, 255);
$settings-color-six: rgb(167, 255, 235);
$settings-color-seven: rgb(204, 255, 144);

$content-max-width: 800px;
$content-min-width: 320px;

$field-max-width: 660px;

$transition-one: 0.5s ease-in;
$transition-two: 0.3s ease-in;
$transition-three: 0.1s ease-in;

$title-font-family: 'Codystar', cursive;
$note-font-family: 'Bad Script', cursive;

$border: 1px dashed $border-color;

$note-box-shadow: 0 0 10px rgba(0,0,0,0.5);

