.app {
  padding: 20px;
  transition: all $transition-one;
}

.app__title {
  margin-bottom: 10px;
  color: $white-color;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: $title-font-family;
}

.app__up {
  position: fixed;
  width: 50px;
  height: 50px;
  transform: scale(0);
  background: url('../img/up.png') no-repeat -2px -2px;
  background-size: 110% 110%;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: all $transition-one;
  &.show {
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
  }
}

@media screen and (max-width: $breakpoint-two) {
  .app {
    padding: 20px 0;
  }
}
