.field {
  margin:auto;
  max-width: $field-max-width;
  position: relative;
  background-color: $white-color;
  border-radius: 10px;
  box-shadow: $base-box-shadow;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: box-shadow $transition-one;
}

.field__input {
  width: 100%;
  border: 0;
  font-size:1.2em;
  padding: 20px 50px 20px 20px;
  color: $dark-grey-color;
  border-top: {
    left-radius: 10px;
    right-radius: 10px;
  }
  border-bottom: $border;
  &:focus {
    outline: none;
  }
  &::-ms-clear {
    display: none;
  }
}

.field__clear-button {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 21px;
  background: url('../../img/del.png') no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 50%;
  &.show {
    display: block;
  }
  &:not(.mobile) {
    transition: transform .3s ease;
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.field__block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.field__buttons {
  display: flex;
  width: 50%;
  align-items: flex-end;
  justify-content: flex-end;
}

.field__button {
  width: 130px;
  padding: 5px;
  align-self: flex-end;
  cursor: pointer;
  border-radius: 6px;
  background-color: $field-button-bg-color;
  color: $white-color;
  border: 0;
  box-shadow: $field-button-shadow;
  font-size: 1em;
  font-weight: bold;
  user-select: none;
  &:active {
    transform: translateY(3px);
    box-shadow: $field-button-shadow-active;
  }
  &:focus {
    outline: none;
  }
  &:first-child {
    margin-right: 10px;
  }
}

@media screen and (max-width: $breakpoint-two) {
  .field {
    box-shadow: none;
  }
}

@media screen and (max-width: $breakpoint-three) {
  .field__block {
    flex-direction: column;
  }

  .field__buttons {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
}

