.notes-list {
  padding: 20px 20px 0 20px;
  span {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.notes-list__empty {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 10px 20px;
  background: $white-color;
  border-radius: 10px;
}

.notes-enter {
  opacity: 0;
}

.notes-enter.notes-enter-active {
  opacity: 1;
  transition: opacity $transition-two;
}

.notes-appear {
  opacity: 0;
}

.notes-appear.notes-appear-active {
  opacity: 1;
  transition: opacity $transition-one;
}