.notes-item {
  position: relative;
  width: 230px;
  height: 230px;
  margin: 5px;
  padding: 40px 20px 20px 20px;
  overflow: hidden;
}

.notes-item__date {
  position: absolute;
  top: 5px;
  left: 10px;
  div {
    font-family: $note-font-family;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
  }
}

.notes-item__delete {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url('../img/trash.png') no-repeat;
  background-size: cover;

}

.notes-item__text {
  overflow-y: auto;
  height: 100%;
  font-family: $note-font-family;
  font-size: 1.1em;
  font-weight: bold;
  color: $dark-grey-color;
}

@media screen and (min-width: $breakpoint-four) {
  .notes-item__delete {
    transition: transform $transition-three;
    &:hover {
      transform: scale(1.3);
    }
  }
}

@media screen and (min-width: $breakpoint-four)  {
  .notes-item {
    transition: box-shadow $transition-three;
    &:hover {
      box-shadow: $note-box-shadow;
    }
  }
}