.search {
  position: relative;
  margin: 0 auto 20px;
  display: block;
  width: 280px;
}

.search__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('../img/search.png') no-repeat;
  background-size: cover;
  top: 6px;
  left: 34px;
  transition: left $transition-two;
}

.search__field {
  margin: auto;
  width: 80%;
  background-color: $white-color;
  border-radius: 10px;
  display: flex;
  padding: 10px 30px 10px 36px;
  border: none;
  font-size:1em;
  color: $dark-grey-color;
  transition: width $transition-two;
  &[disabled] {
    opacity: .5;
  }
  &:focus {
    outline: none;
    width: 100%;
    + .search__icon {
      left: 6px;
      + .search__clear-button {
        right: 8px;
      }
    }
  }
  &::-ms-clear {
    display: none;
  }
}

.search__clear-button {
  position: absolute;
  display: none;
  width: 16px;
  height: 16px;
  right: 38px;
  top: 11px;
  background: url('../../img/del.png') no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 50%;
  transition: right $transition-two;
  &.show {
    display: block;
  }
}