.search {
  position: relative;
  margin: 0 auto 20px;
  display: block;
  width: 280px;
}

.search__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('../img/search.png') no-repeat;
  background-size: cover;
  top: 6px;
  left: 6px;
}

.search__field {
  width: 100%;
  background-color: $white-color;
  border-radius: 10px;
  display: flex;
  padding: 10px 10px 10px 36px;
  border: none;
  font-size:1em;
  color: $dark-grey-color;
  box-shadow: $base-box-shadow;
  &[disabled] {
    opacity: .5;
  }
  &:focus {
    outline: none;
  }
}